---
import { Image } from 'astro:assets';
import Icon  from './Icon.astro';

interface Props {
  imageOne:string;
  imageTwo:string;
}
const { imageOne, imageTwo } = Astro.props;
const linkText = "https://wa.me/5511960809999?text=Ol%C3%A1%2C+vim+atrav%C3%A9s+do+site.+gostaria+de+fazer+parte+do+grupo+mobiliza%C3%A7%C3%A3o+conservadora";

---

<section class="py-12">
  <div class="grid grid-cols-2 p-4">
    <div>
      <h1 class="text-white text-4xl italic max-w-xs yellowText pb-8">Oque é mobilização conservadora ?</h1>
      <p class="text-white max-w-sm">
        A mobilização conservadora é um grupo de cidadãos de todas as idades, etinias, generos e classes sociais unidos por um ideal em comum, resistir as ideologias nefastas que dividem, escravizam, empobrecem e confundem a sociedade.
      </p>
      <p class="text-white max-w-sm my-4">
        Preservação de nossa história, cultura e custumes é a pedra angular do <strong>conservadorismo</strong>, ser conservador é reconhecer que tudo oque temos hoje foi conquistado por gerações passadas com muita luta, amor e esperança. É valorizar seus esforços e sua memória, e reconhecer que agora sob posse dessa riquíssima herança, é nossa obrigação zelar e agrega-la as próximas gerações. 
      </p>
      <p class="text-white mt-8 underline">
        <a href={linkText}>Saiba mais</a>
      </p>
    </div>
    <div class="grid grid-cols-2 p-4">
        <Image src={'/images/'+imageOne} 
        width={600} 
        height={600/1.5} 
        alt="Mobilização Conservadora" 
        class="rounded-md object-cover w-48"/>

    </div>
  </div>
  <div class="grid grid-cols-2 p-4 ">
      <p>&nbsp;</p>
    <div class="max-w-sm grid grid-rows">
      <p>
        <Image src={'/images/'+imageTwo}
           width={600} height={600/1.5} 
           alt="Edson Salomão" 
           class="float-right rounded-md object-cover w-48 pt-8"/>
      </p>
      <p class="text-white">
        A <strong>mobilização conservadora</strong> foi idealizado por <strong>Edson Salomão</strong> ex-presidente do <strong>movimento conservador</strong>, ativista político e jornalista.
      </p>
      <p class="grid grid-cols-4 text-white my-4">
        <span><Icon name='icon-x-twitter-cicle.png' herf='https://x.com/edsonsalomaosp' alt='icone x twitter' /></span>
        <span><Icon name='icon-youtube-circle-color.png' herf='https://www.youtube.com/c/EdsonSalom%C3%A3osp' alt='icone youtube' /></span>
        <span><Icon name='icon-instagram-circle-color.png' herf='https://www.instagram.com/edsonsalomaosp/' alt='icone instagram' /></span>
        <span><Icon name='icon-whatsapp-circle-color.png' herf='https://wa.link/bwbllg' alt='icone whatsapp' /></span>
      </p>
    </div>
  </div>
</section>
